*.pyc
*.swp
*.swo
*.swn
.nfs*
__pycache__/
config/**
!config/deny*.lst
!config/aws*.lst
!config/*template*
!config/*default*
!config/symbology/
config/*.swp
.vscode/
**/.DS_Store
.private/

!tools/catfim/*.csv
!tools/catfim/catfim.env.template
!data/bridges/*.txt

!**/.ipynb
**/.ipynb_checkpoints
**checkpoint.ipynb