*.pyc
*.swp
*.swo
*.swn
.nfs*
__pycache__/
config/**
!config/deny*.lst
!config/aws*.lst
!config/*template*
!config/*default*
!config/huc_lists/
!config/huc_lists/*.lst
!config/symbology/
config/*.swp
.vscode/
**/.DS_Store
.private/

*.env
!config/hv_deploy_params.template.env
!config/fim_enviro_values.template.env
!config/aws_credentials.template.env

!data/bridges/*.txt
!tools/catfim/*.csv

!**/.ipynb
**/.ipynb_checkpoints
**checkpoint.ipynb