*.pyc
*.swp
*.swn
*.swo
.nfs*
__pycache__/
config/**
!config/*template*
!config/symbology/
*.zip
manuscripts/**/owp_fim3.pdf
manuscripts/**/*.aux
manuscripts/**/*.log
manuscripts/**/*.bbl
manuscripts/**/*.blg
manuscripts/**/prev
