# For more information: https://pre-commit.com
# Additional hooks: https://pre-commit.com/hooks.html

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
            exclude: Pipfile.lock
        -   id: check-added-large-files
            args: ['--maxkb=5000']
        -   id: check-json
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
        -   id: flake8
            entry: pflake8
            additional_dependencies: [pyproject-flake8]
-   repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
        -   id: black
            args: [--line-length=110]
-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
