[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
boto3 = "*"
dask = "*"
dask-expr = "*"
distributed = "*"
fiona = "*"
gcsfs = "*"
geopandas = "*"
gval = "*"
ipympl = "*"
jupyter = "*"
jupyterlab = "*"
lmoments3 = "*"
natsort = "*"
netcdf4 = "*"
numba = "*"
numpy = "<2.0.0"
openpyxl = "*"
osmnx = "*"
overpy = "*"
pandas = "==2.2.3"
pillow = "*"
pyarrow = "*"
pyflwdir = "*"
pymc = "*"
pyogrio = "*"
protobuf = "*"
pyproj = "*"
python-dotenv = "*"
py7zr = "*"
rasterio = "*"
rasterstats = "*"
requests = "*"
richdem2 = "*"
rio-vrt = "*"
rtree = "*"
scikit-image = "*"
scipy = "==1.13.1"
seaborn = "*"
tables = "*"
tqdm = "*"
urllib3 = "*"
whitebox = "*"
xarray = "*"
zarr = "*"

[requires]
python_version = "3.12"
