[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
black = "*"
boto3 = "*"
certifi = "*"
dask = "*"
dask-expr = "*"
distributed = "*"
fiona = "*"
flake8 = "*"
flake8-pyproject = "*"
geopandas = "==1.0.1"
gval = "*"
ipympl = "*"
isort = "*"
jupyter = "*"
jupyterlab = "*"
lmoments3 = "*"
monaco = "*"
natsort = "*"
netcdf4 = "*"
numba = "*"
numpy = "*"
openpyxl = "*"
osmnx = "*"
pandas = "*"
pillow = "*"
pre-commit = "*"
psycopg2-binary = "*"
pyarrow = "*"
pyflwdir = "*"
pyogrio = "*"
pyproj = "*"
python-dotenv = "*"
py7zr = "*"
rasterio = "*"
rasterstats = "*"
requests = "*"
richdem = "*"
rtree = "*"
scipy = "*"
seaborn = "*"
shapely = "*"
tables = "*"
tqdm = "*"
urllib3 = "*"
whitebox = "*"
xarray = "*"
zarr = "*"


[requires]
python_version = "3.10"
