[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
fiona = "==1.8.17"
geopandas = "==0.8.1"
numba = "==0.50.1"
numpy = "==1.22.4"
pandas = "==1.0.5"
pygeos = "==0.7.1"
rasterio = "==1.1.5"
rasterstats = "==0.15.0"
richdem = "==0.3.4"
tqdm = "==4.48.0"
Shapely = "==1.7.0"
grass-session = "==0.5"
seaborn = "==0.11.0"
python-dotenv = "*"
natsort = "*"
memory-profiler = "*"
xarray = "==0.19.0"
netcdf4 = "==1.5.7"
tables = "==3.6.1"
h5py = "==3.4.0"
pyproj = "==3.1.0"
psycopg2-binary = "==2.8.6"
boto3 = "*"

[requires]
python_version = "3.8"
