affine==3.0.1
aiobotocore==2.26.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.4
aioitertools==0.13.0
aiosignal==1.4.0
annotated-types==0.8.0
anyio==4.15.1
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
arrow==1.4.0
arviz==0.23.4
asttokens==3.0.2
async-lru==2.3.0
attrs==26.1.0
babel==2.18.0
backports-zstd==1.7.0
beautifulsoup4==4.15.0
bleach==6.4.0
blosc2==4.1.2
boto3==1.41.5
botocore==1.41.5
brotli==1.2.0
cachetools==7.2.1
certifi==2026.7.22
cffi==2.1.1
cftime==1.6.5
charset-normalizer==3.5.2
click==8.5.0
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.2
comm==0.2.3
cons==0.4.7
contextily==1.7.0
contourpy==1.4.0
cryptography==50.0.2
cycler==0.12.1
dask==2026.8.0
dask-expr==2.0.0
debugpy==1.8.22
decorator==5.3.1
defusedxml==0.7.1
distributed==2026.8.0
donfig==0.8.1.post1
et-xmlfile==2.0.0
etuples==0.3.10
executing==2.2.1
fastjsonschema==2.22.2
filelock==3.25.2
fiona==1.10.1
flox==0.10.4
fonttools==4.66.1
formulaic==1.2.2
fqdn==1.6.0
frozenlist==1.8.0
fsspec==2025.5.0
gcsfs==2025.5.0.post1
geocube==0.7.1
geographiclib==2.1
geopandas==1.2.0
geopy==2.5.0
google-api-core==2.41.0
google-auth==2.60.0
google-auth-oauthlib==1.5.0
google-cloud-core==2.8.0
google-cloud-storage==3.16.0
google-cloud-storage-control==1.16.0
google-crc32c==1.9.0
google-resumable-media==2.11.0
googleapis-common-protos==1.75.5
grpc-google-iam-v1==0.14.5
grpcio==1.84.0
grpcio-status==1.84.0
gval==0.2.14
h11==0.16.0
h5netcdf==1.8.1
h5py==3.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
imageio==2.37.3
inflate64==1.0.4
interface-meta==2.0.1
ipykernel==7.4.0
ipympl==0.10.0
ipython==9.17.1
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
jedi==0.20.0
jinja2==3.1.6
jmespath==1.1.0
joblib==1.6.0
json5==0.15.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-builder==1.2.3
jupyter-client==8.10.0
jupyter-console==6.6.3
jupyter-core==5.9.1
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter-server==2.21.1
jupyter-server-terminals==0.5.4
jupyterlab==4.6.4
jupyterlab-pygments==0.3.0
jupyterlab-server==2.28.1
jupyterlab-widgets==3.0.16
kiwisolver==1.5.1
lark==1.3.1
laspy==2.5.4
lazy-loader==0.5
llvmlite==0.44.0
lmoments3==1.0.8
locket==1.0.0
logical-unification==0.4.7
markdown-it-py==4.0.0
markupsafe==3.0.4
matplotlib==3.10.8
matplotlib-inline==0.2.2
mdurl==0.1.2
mercantile==1.2.1
minikanren==1.0.5
mistune==3.3.4
morecantile==6.2.0
msgpack==1.2.3
multidict==6.9.1
multipledispatch==1.0.0
multivolumefile==0.2.3
mypy-extensions==1.1.0
narwhals==2.26.0
natsort==8.4.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.11.1
ndindex==1.10.1
nest-asyncio==1.6.0
nest-asyncio2==1.7.3
netcdf4==1.7.4
networkx==3.6.1
notebook==7.6.3
notebook-shim==0.2.4
numba==0.61.2
numcodecs==0.16.5
numexpr==2.14.1
numpy==2.2.6
numpy-groupies==0.12.3
nvidia-nccl-cu13==2.32.3
oauthlib==4.0.0
odc-geo==0.5.0
openpyxl==3.1.5
opentelemetry-api==1.45.1
osmnx==2.1.0
overpy==0.7
packaging==26.3
pandas==2.3.3
pandera==0.29.0
pandocfilters==1.5.1
parso==0.8.7
partd==1.4.2
patsy==1.0.3
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.12.3
prometheus-client==0.26.0
prompt-toolkit==3.0.53
propcache==0.5.4
properscoring==0.1
proto-plus==1.29.0
protobuf==7.36.2
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.4
py-cpuinfo==9.0.0
py7zr==1.1.3
pyarrow==25.0.1
pyasn1==0.6.4
pyasn1-modules==0.4.2
pybcj==1.0.8
pycparser==3.0
pycryptodomex==3.24.0
pydantic==2.13.5
pydantic-core==2.46.5
pyflwdir==0.5.10
pygments==2.21.0
pymc==5.25.1
pyogrio==0.11.0
pyparsing==3.3.3
pyppmd==1.3.1
pyproj==3.8.0
pystac==1.15.2
pystac-client==0.8.6
pystac-core==1.15.2
pystac-ext-classification==2.0.1
pystac-ext-datacube==2.2.1
pystac-ext-eo==1.1.1
pystac-ext-file==2.1.1
pystac-ext-grid==1.1.1
pystac-ext-item-assets==1.0.1
pystac-ext-label==1.0.2
pystac-ext-mgrs==1.0.1
pystac-ext-mlm==1.4.1
pystac-ext-pointcloud==1.0.1
pystac-ext-projection==2.0.1
pystac-ext-raster==1.1.1
pystac-ext-render==2.0.0
pystac-ext-sar==1.0.1
pystac-ext-sat==1.0.1
pystac-ext-scientific==1.0.1
pystac-ext-storage==2.0.1
pystac-ext-table==1.2.1
pystac-ext-timestamps==1.1.1
pystac-ext-version==1.2.1
pystac-ext-view==1.0.1
pystac-ext-xarray-assets==1.0.1
pytensor==2.31.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.2.0
pytz==2026.5
pyyaml==6.0.3
pyzmq==27.2.0
rasterio==1.5.2
rasterstats==0.20.0
referencing==0.37.0
requests==2.34.2
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
richdem2==2.2.0
rio-cogeo==6.0.0
rio-vrt==0.3.1
rioxarray==0.23.0
rpds-py==2026.9.1
rtree==1.4.1
s3fs==2025.5.0
s3transfer==0.15.0
scikit-image==0.26.0
scikit-learn==1.9.1
scipy==1.18.1
seaborn==0.13.2
send2trash==2.1.0
setuptools==82.0.1
shapely==2.1.2
simplejson==3.20.2
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.10
stack-data==0.6.3
statsmodels==0.15.0
tables==3.11.1
tblib==3.2.2
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.6.0
tifffile==2026.3.3
tinycss2==1.5.1
toolz==1.1.0
tornado==6.5.10
tqdm==4.67.3
traitlets==5.16.1
typeguard==4.6.0
typing-extensions==4.16.0
typing-inspect==0.9.0
typing-inspection==0.4.4
tzdata==2026.5
uri-template==1.3.0
urllib3==2.8.0
wcwidth==0.9.2
webcolors==25.10.0
webencodings==0.6.1
websocket-client==1.9.2
whitebox==2.3.6
widgetsnbextension==4.0.15
wrapt==1.17.3
xarray==2026.9.0
xarray-einstats==0.9.1
xgboost==3.4.1
xhistogram==0.3.2
xskillscore==0.0.28
xyzservices==2026.9.1
yarl==1.25.1
zarr==3.1.5
zict==3.0.0
