
# ###########################
# --- FIM / HydroVIS (good for fim-dev buckets and key hydrovis buckets) ---
# Note: At this time, the creds for FIM-Dev are the same ones as the HV ones above.
HV_AWS_ACCESS_KEY_ID=""
HV_AWS_SECRET_ACCESS_KEY=""
HV_AWS_REGION_NAME = "us-east-1"

# ###########################
# --- FIM-DEV ---
# Note: At this time, the creds for FIM-Dev are the same ones as the HV ones above.

FIM_AWS_ACCESS_KEY_ID=""
FIM_AWS_SECRET_ACCESS_KEY=""
FIM_AWS_REGION_NAME = "us-east-1"
