
# ###########################
# This can contain any variables for deployments, uploads, downloads, workflow automation values, etc

# AWS credentials should be kept in this file but its own aws_params_(type).env for security reasons.


# ****** BE SUPER CAREFUL especially with paths. ******

# Many tools such as deploy scripts will copy file up to s3 bucket and we want to be super careful
# to not overwrite data unless desired.

# In this doc, sets of both dev test paths and prod paths can be used.


# ****** ALSO SUPER IMPORTANT ******

# This file might be actively in use by multiple scripts at one time, especially when we get to automation.
# To dev test, make a copy of this, adjust, then feed the dev version into the script.

# =================================================================
# HYDROVIS DEPLOYMENT PARAMS
# ---- bucket name in the aws_credentials file.

# You can also change these values to help with test pathing of course if you like.
#  Oct 2025, v6_0 is going into production and is based on 4_8_7_2
HAND_VERSION = "4_8_7_2"
RELEASE_FIM_PUBLIC_VERSION = "v6_1"  # 6_0 is going into production in Oct 2025.


# --- test paths
HV_S3_ROOT_HANDSET_PATH = "temp/RobH/hand_datasets"
HV_S3_ROOT_QA_DATASETS_PATH = "temp/RobH/qa_datasets/"

# --- Production Paths (needs adjustment for FIM 6.1 when we get there)
# HV_S3_ROOT_HANDSET_PATH = "/fim/{RELEASE_FIM_PUBLIC_VERSION}/hand_{HAND_VERSION}/hand_datasets"
# HV_S3_ROOT_QA_DATASETS_PATH = "/fim/{RELEASE_FIM_PUBLIC_VERSION}/hand_{HAND_VERSION}/qa_datasets"


# ---------------------------
# Misc files (QA Dataset files)
HV_FIM_PERF_CATCHMENTS_FILE = "/data/fim_performance/hand_{HAND_VERSION}/fim_performance_catchments.csv"
HV_FIM_PERF_POLYS_FILES = "/data/fim_performance/hand_{HAND_VERSION}/fim_performance_polys.csv"
HV_FIM_PERF_POINTS_FILES = "/data/fim_performance/hand_{HAND_VERSION}/fim_performance_points.csv"

HV_RCC_NWM_RECURR_FLOW_FILE = "/data/fim_performance/hand_{HAND_VERSION}/rating_curve_comparison/agg_nwm_recurr_flow_elev_stats_location_id.csv"
HV_URC_RATING_CURVE_FILE = "/data/inputs/usgs_gages/20250914/usgs_rating_curves.csv"

# --------------
# CatFIM Flow Based
HV_CAT_FLOW_SITES = "/data/catfim/hand_{HAND_VERSION}_flow_based/mapping/flow_based_catfim_sites.csv"
HV_CAT_FLOW_LIBRARY = "/data/catfim/hand_{HAND_VERSION}_flow_based/mapping/flow_based_catfim_library.csv"
HV_CAT_COMPARE_FLOW_SITES = "/data/catfim/hand_{HAND_VERSION}_flow_based/flow_based_4_6_1_4_vs_{HAND_VERSION}_sites.csv"
HV_CAT_COMPARE_FLOW_GAINED_COVERAGE = "/data/catfim/hand_{HAND_VERSION}_flow_based/flow_based_4_6_1_4_vs_{HAND_VERSION}_gained_coverage.csv"
HV_CAT_COMPARE_FLOW_LOST_COVERAGE = "/data/catfim/hand_{HAND_VERSION}_flow_based/flow_based_4_6_1_4_vs_{HAND_VERSION}_lost_coverage.csv"

# --------------
# CatFIM Stage Based
HV_CAT_STAGE_SITES = "/data/catfim/hand_{HAND_VERSION}_stage_based/mapping/stage_based_catfim_sites.csv"
HV_CAT_STAGE_LIBRARY = "/data/catfim/hand_{HAND_VERSION}_stage_based/mapping/stage_based_catfim_library.csv"
HV_CAT_COMPARE_STAGE_SITES = "/data/catfim/hand_{HAND_VERSION}_stage_based/stage_based_4_6_1_4_vs_{HAND_VERSION}_sites.csv"
HV_CAT_COMPARE_STAGE_GAINED_COVERAGE = "/data/catfim/hand_{HAND_VERSION}_stage_based/stage_based_4_6_1_4_vs_{HAND_VERSION}_gained_coverage.csv"
HV_CAT_COMPARE_STAGE_LOST_COVERAGE = "/data/catfim/hand_{HAND_VERSION}_stage_based/stage_based_4_6_1_4_vs_{HAND_VERSION}_lost_coverage.csv"

# ---------------------------
# HAND dataset
# FIM_HAND_DATASET_LOCAL_PATH = "/data/previous_fim/hand_{HAND_VERSION}"
FIM_HAND_DATASET_LOCAL_PATH = "/data/outputs/Rob_deploy_test_10/"

# These are python glob patterns to find file to load. They are concat to HV_HAND_LOCAL_PATH for full search paths. Critical to get the count right based on the num commands included.
HV_HAND_LOAD_PATTERN_1 = "*/hydrotable.feather"
HV_HAND_LOAD_PATTERN_2 = "*/hydrotable.parquet"
HV_HAND_LOAD_PATTERN_3 = "*/wbd.gpkg"
HV_HAND_LOAD_PATTERN_4 = "*/usgs_elev_table.csv"
HV_HAND_LOAD_PATTERN_5 = "*/osm_bridge_centroids.gpkg"
HV_HAND_LOAD_PATTERN_6 = "*/osm_roads_fimpact.csv"
HV_HAND_LOAD_PATTERN_7 = "*/branches/*/gw_catchments_reaches_filtered_addedAttributes_*.tif"
HV_HAND_LOAD_PATTERN_8 = "*/branches/*/gw_catchments_reaches_filtered_addedAttributes_crosswalked_*.gpkg"
HV_HAND_LOAD_PATTERN_9 = "*/branches/*/src_full_crosswalked_*.csv"
HV_HAND_LOAD_PATTERN_10 = "*/branches/*/rem_zeroed_masked_*.tif"
HV_HAND_LOAD_PATTERN_11 = "crosswalk_table.csv"
HV_HAND_LOAD_PATTERN_12 = "fim_inputs.csv"
HV_HAND_LOAD_PATTERN_COUNT = 12
