
# ###########################
# This can contain any variables for deployments, uploads, downloads, workflow automation values, etc

# AWS credentials should be kept in this file but its own aws_params_(type).env for security reasons.


# ****** BE SUPER CAREFUL especially with paths. ******

# Many tools such as deploy scripts will copy file up to s3 bucket and we want to be super careful
# to not overwrite data unless desired.

# In this doc, sets of both dev test paths and prod paths can be used.


# ****** ALSO SUPER IMPORTANT ******

# This file might be actively in use by multiple scripts at one time, especially when we get to automation.
# To dev test, make a copy of this, adjust, then feed the dev version into the script.


# =================================================================
# --- FIM / HAND ---
# --- local paths, can be used for deployments, uploads, downloads, etc.
# --- bucket name in the aws_credentials file.

FIM_S3_BUCKET_NAME = "notset"

HAND_VERSION = "4_8_7_2"

# -- s3 --
FIM_S3_ROOT_PATH = "foss_fim"
FIM_S3_INPUTS_PATH = "foss_fim/inputs"
FIM_S3_HAND_PATH = "/foss_fim/previous_fim/{HAND_VERSION}"

# -- local data paths --
FIM_DATA_ROOT_PATH = "/data/"
FIM_DATA_INPUTS_PATH = "/data/inputs"
FIM_DATA_PREVIOUS_FIM_HAND_PATH = "/data/previous_fim/{HAND_VERSION}"


# =================================================================

# -- Download OWP HAND files(CatFIM and FIM Performance points/polys)
#    Deploy filtered HAND dataset from FIM S3 to OWP servers

# +++++++++++++++++  It is critical to get the count right based on the num commands included (ie.. numeric order and matches LOAD_PATTERNS. +++++++++++++++++
# These are python glob type patterns to find file to download.
# Note: "*/" means root HUC level.  If it has nothing in front of the file name, it is hand output level

OWP_HAND_LOAD_PATTERN_1 = "*/hydrotable.parquet"
OWP_HAND_LOAD_PATTERN_2 = "*/hydrotable.csv"
OWP_HAND_LOAD_PATTERN_3 = "*/wbd.gpkg"
OWP_HAND_LOAD_PATTERN_4 = "*/usgs_elev_table.csv"
OWP_HAND_LOAD_PATTERN_5 = "*/nwm_lakes_proj_subset.gpkg"
OWP_HAND_LOAD_PATTERN_6 = "*/branches/*/gw_catchments_reaches_filtered_addedAttributes_*.tif"
OWP_HAND_LOAD_PATTERN_7 = "*/branches/*/hydroTable_*.csv"
OWP_HAND_LOAD_PATTERN_7 = "*/branches/*/rem_zeroed_masked_*.tif"
OWP_HAND_LOAD_PATTERN_8 = "*metrics.csv"
OWP_HAND_LOAD_PATTERN_9 = "fim_inputs.csv"


# =================================================================
# --- ESIP ---
#  (wip)
ESIP_S3_BUCKET_NAME = "notset"

# ----- test paths
ESIP_S3_ROOT_HAND_PATH = "hand_fim/temp"
# ----- Production Paths
# ESIP_S3_ROOT_HAND_PATH = "hand_fim"

