
# FOR NOAA/OWP Staff, versions of this are at efs.../config/

# ###########################

SOME_ENVIRO_KEY_S3_BUCKET_NAME = "our-fim-dev"
SOME_ENVIRO_KEY_S3_ROOT_HAND_PATH = "foss_fim/temp/RobH/"

# ###########################
# AWS permissions and credentials
# These are optional depending on how you have permissions setup on your server to talk to 
# aws. If you explicitly profile these, then you will always need AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY.
# The AWS_REGION and AWS_SESSSION_TOKEN are independenly optional, depending on your permissions setup.

AWS_ACCESS_KEY_ID = "some value"
AWS_SECRET_ACCESS_KEY = "some value"
# AWS_REGION = "us-east-1"
# AWS_SESSION_TOKEN = "some value"
