
# ###########################
HV_S3_BUCKET_NAME = ""
HV_S3_ROOT_HAND_PATH = "/fim/v6_0/hand_4_8_7_2/hand_datasets/"
HV_S3_ROOT_QA_DATASETS_PATH = "/fim/v6_0/hand_4_8_7_2/qa_datasets/"

# ###########################
FIM_S3_BUCKET_NAME = ""

# ###########################
# AWS permissions and credentials
# These are optional depending on how you have permissions setup on your server to talk to 
# aws. If you explicitly profile these, then you will always need AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY.
# The AWS_REGION and AWS_SESSSION_TOKEN are independenly optional, depending on your permissions setup.

# Defaulted to commentign out these arguments implying implicit credentials or using the command line
# "export" values. ie) export AWS_ACCESS_KEY_ID = "some value"
# AWS_ACCESS_KEY_ID = "some value"
# AWS_SECRET_ACCESS_KEY = "some value"
# AWS_REGION = "us-east-1"
# AWS_SESSION_TOKEN = "some value"
